// Color Variables

$bg: #f7f7f7; // Background color
$bg-light: #EDF2F2; // Light background color
$dark-green:  #27312a;
$text: #444; // Base text color
$menu-text:  #f7f7f7;
$orange: #ff7112;
$text-header: #333; // Header text color
$text-light: #717584; // Light text color
$light-green: #84c100;
$green: #0fae58;
$link: #6162B7; // Link text color
$line: #3d4340;
$hover: darken($link,8%); // Link text color(hover)
$border: #c8cfe4; // Border color
$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
